<head>  
    <link rel="stylesheet" href="/static/css/style.css">
</head>


{% extends 'base.html' %}
{% block content %}
<tr class = adminwelcome>
  <h1> Welcome Admin {{ user.first_name }}  {{user.last_name }} </h1>
</tr>  

<div class="EventsDataTable">
      <div class ="Title">
        <p>Upcoming Volunteer Events</p>
      </div>  
        <div class="Heading">
          <div class="EventDataCell">Event Id</div>
          <div class="EventDataCell">Event Name</div>
          <div class="EventDataCell">Event Description</div>
          <div class="EventDataCell">Event Date</div>
          <div class="EventDataCell">Event Status</div>
          <div class="EventDataCell">Number of spots</div>
          <div class="EventDataCell">Action </div>
        </div>   
      {% for item in sign_up %}
        <div class="EventDataRow">
          <div class ="EventDataCell" id="eventid">{{ item.event_id }}</div>
          <div class="EventDataCell" id="eventname">{{ item.event_name }}</div>
          <div class="EventDataCell" id="eventdesc">{{item.event_description}}</div>
          <div class="EventDataCell" id="eventdate">{{ item.event_date }}</div>
          <div class="EventDataCell" id="eventstatus">{{ item.event_status }}</div>
          <div class="EventDataCell" id="noofspots">{{ item.no_of_spots }}</div>
          <div class="EventDataCell"> <button class="edit">Edit Event</button></div>
        </div>
    {% endfor %}    
</div>

<div>
    <button class="click" id="add"> New Event</button>
</div>    

<script src="static/jquery.js"></script>

 <script type="text/javascript">


$("body").delegate(".edit", "click",function()
        {
        //var currentTD = $(this).parents('tr').find('td');
        alert("I am getting clicked")
        var evenode =$(this).parent().siblings()
		    var eventjson = {};
          if ($(this).text() == 'Edit Event') {                  
              $.each(evenode, function () {
				alert ('I am here in if')
				//alert ($(this))
                  $(this).prop('contenteditable', true)
              });
          } else {
          alert ('I am in else')

             $.each(evenode, function () {
				//alert ('I am in else')
				alert ($(this).attr('id'))
				alert ($(this).html())
				eventjson[$(this).attr('id')]=$(this).text()
				//data = data + $(this).attr('id')+":"+$(this).html()+","
                  $(this).prop('contenteditable', false)
              });
    
    $.post('/admin_edit/save_confirmed', eventjson , function (results) {
          var adjective = results;
          alert(adjective);
             //})
          });

		}
		//alert ('outside the loop')

		//alert (JSON.parse(eventjson).eventname)
		// Saving the edited td values in the database via ajax


          $(this).html( $(this).html() == 'Edit Event' ? 'Save' : 'Edit Event')
   });

$('#add').on('click', function(){
    // var currentth = $(this).parents('tr').find('th');
    // console.log($(this));
//     if ($(this).html() == 'New Event') {                  
      // alert('I am here in kitchen');
      // Find a <table> element with id="AdminChanges":
      // var table = document.getElementById("AdminChanges");
      // $('#AdminChanges').append('<tr><td></td></tr>')

      newRow = '<div class="EventDataRow"><div class ="EventDataCell" placeholder="EventId" id="eventid" contenteditable="true"> </div><div class="EventDataCell" placeholder="Event Name" id="eventname" contenteditable="true"> </div><div class="EventDataCell" id="eventdesc" contenteditable="true" placeholder="Event Description" > </div><div class="EventDataCell" id="eventdate" contenteditable="true" placeholder="Event Date">  </div><div class="EventDataCell" id="eventstatus" contenteditable="true" placeholder="Event Status">  </div><div class="EventDataCell" id="noofspots" contenteditable="true" placeholder="Number of spots"></div><div class="EventDataCell"> <button class="edit">Save</button></div></div>'

        $('.EventsDataTable div.EventDataRow:last').after(newRow);


      // Create an empty <tr> element and add it to the 1st position of the table:

      alert ("I am done adding") 
  // }         
});



</script>        
{% endblock %}