<head>  
    <link rel="stylesheet" href="/static/css/style.css">
</head>


{% extends 'base1.html' %}
{% block content %}
<div class = adminwelcome>
  <h1> Welcome {{ user.first_name }}  {{user.last_name }}!</h1>
</div>  

<div class="col-xs-12" id="EventDataTable">
      <div class ="Title">
        <caption>Upcoming Volunteer Events</caption>
      </div>
      <table class ="table table-hover" id="AdminEvent">  
        <thead>
           <th class="EventDataCell">Event Id</th>
           <th class="EventDataCell">Event Name</th>
           <th class="EventDataCell">Event Description</th>
           <th class="EventDataCell">Event Date</th>
           <th class="EventDataCell">Event Status</th>
           <th class="EventDataCell">Number of spots</th>
           <th class="EventDataCell">Action </th>
        </thead>   
      {% for item in sign_up %}
        <tr class="EventDataRow">
          <td class ="EventDataCell" id="eventid">{{ item.event_id }}</td>
          <td class="EventDataCell" id="eventname">{{ item.event_name }}</td>
          <td class="EventDataCell" id="eventdesc">{{item.event_description}}</td>
          <td class="EventDataCell" id="eventdate">{{ item.event_date }}</td>
          <td class="EventDataCell" id="eventstatus">{{ item.event_status }}</td>
          <td class="EventDataCell" id="noofspots">{{ item.no_of_spots }}</td>
          <td class="EventDataCell"> <span class="glyphicon glyphicon-pencil"></span> <button class="edit">Edit Event</button></td>
        </tr>
    {% endfor %}    
</tr>

<div align='Right'>
    <span class="glyphicon glyphicon-plus"></span> <button class="btn btn-danger" id="add">Add Event</button>
</div>    

<script src="static/jquery.js"></script>

 <script type="text/javascript">


$("body").delegate(".edit", "click",function()
        {
        //var currentTD = $(this).parents('tr').find('td');
        alert("I am getting clicked")
        var evenode =$(this).parent().siblings()
		    var eventjson = {};
          if ($(this).text() == 'Edit Event') {                  
              $.each(evenode, function () {
				alert ('I am here in if')
				//alert ($(this))
                  $(this).prop('contenteditable', true)
              });
          } else {
          alert ('I am in else')

             $.each(evenode, function () {
				//alert ('I am in else')
				alert ($(this).attr('id'))
				alert ($(this).html())
				eventjson[$(this).attr('id')]=$(this).text()
				//data = data + $(this).attr('id')+":"+$(this).html()+","
                  $(this).prop('contenteditable', false)
              });
    
    $.post('/admin_edit/save_confirmed', eventjson , function (results) {
          var adjective = results;
          alert(adjective);
             //})
          });

		}
		//alert ('outside the loop')

		//alert (JSON.parse(eventjson).eventname)
		// Saving the edited td values in the database via ajax


          $(this).html( $(this).html() == 'Edit Event' ? 'Save' : 'Edit Event')
   });

// This is a function to add an event on clicking "+ Add Eve"
$('#add').on('click', function(){
    
      alert("New event")
      // Create tds as editable values and assign it to a variable
      newRow = '<td class ="EventDataCell" id="eventid" contenteditable="true" ></td><td class="EventDataCell" id="eventname" contenteditable="true"></td><td class="EventDataCell" id="eventdesc" contenteditable="true"></td><td class="EventDataCell" id="eventdate" contenteditable="true"></td><td class="EventDataCell" id="eventstatus" contenteditable="true"></td><td class="EventDataCell" id="noofspots" contenteditable="true"></td><td class="EventDataCell"><span class="glyphicon glyphicon-pencil"></span> <button class="edit">Save</button></td>'
        //Create an empty <tr> element
        row = $('<tr class="EventDataCell" ></tr>');
        //Adding the variable holding the td values under thr tr element and add that tr with the tds to the 1st position of the table:
        row.append(newRow).prependTo("#AdminEvent");
        // this references to the Save Event button in that first row whose parent is EventDataCell and whose siblings all the above tds and then we find the #eventid first element in that first row to focus
        $(this).parent().siblings().find("#eventid").focus();       

      alert ("I am done adding") 
  // }         
});



</script>        
{% endblock %}