{% extends 'base.html' %}
{% block content %}

<div>

<h1>VOLUNTEER EVENT DESCRIPTIONS<h2>

<p>Art and Wine Festival: School Sponsored- Volunteers are needed to park cars during the hours of the Santa Clara Art and Wine Festival in
September. Volunteers are taken on a first come first serve basis. Please see the Principal, Mr. Bob Moss.</p>
 
<p>Book Fairs: PTA Sponsored, through the vendor Barnes and Nobles  located off of Stevens Creek and San Tomas Expressway. Book Fairs are held each year to benefit the school and classroom libraries.  There are no volunteers needed except that you come during the
scheduled times to listen to the teachers read stories and support the school by purchasing books with proceeds going back to the school.</p>
 
<p>Book Orders: School Sponsored- Assist some teachers with Scholastic Book Orders. Help process paperwork, package and distribute to
students. The Scholastic Book orders are done online.</p>
 
<p>Box Tops: School Sponsored, Advertise, collect, calculate, and maintain this fundraising program for our school. Parents and students are encouraged to cut out “Box Tops” off of purchases and turn them into the office. All monies collected will go back to the school.</p>
 
<p>Bulletin Board: School Sponsored- Office bulletin boards are maintained with upcoming school events, PTA Announcements and
student art. 3rd Grade needs 1 parent to do all three classes. 5th Grade needs 1 volunteer in May. Please see teachers.</p>
 
<p>Computer Lab Scheduler: PTA Sponsored (Grades K-2 only). One person from each class makes a volunteer schedule by using the
collected forms returned by parents in the class. Email reminders need to be sent to the class throughout the year.</p>
 
<p>Computer Lab Volunteers: (Grades K-2 only). This is an important job. Help assist your child’s class in computer room. Times vary by class and grade . Please keep your scheduled times if possible and if you are not able to make your scheduled time, please make arrangements to find a substitute. No volunteers are needed on the last two weeks of school.</p>
 
<p>Crossing Guards: School Sponsored. Needed mornings 8:10 a.m. – 8:30 a.m. and afternoons for dismissal (M/T/Th/F at 2:15 p.m.-3:15p.m. and  Weds 1:15 p.m. – 1:40 p.m.)  Sign up with Mr. Moss.  Traffic is a challenge to keep our children safe. Ongoing Crossing guards are much needed throughout the school year.</p>
 
<p>Dining For Dollars: PTA Sponsored.  Coordinates with local restaurants for a “Millikin Night Out” with a percentage of the meal cost going back to PTA. Please support our local restaurants by going out to these scheduled dining events. Please remember to print out the flyers when going out.</p>
 
E-Scrip: PTA Sponsored-Electronic Scrip is a fundraising program that benefits our school just by your use of your Safeway or Visa or Mastercard purchases. There are no volunteers needed for this except that families are encouraged to sign up to help support our school by earning free money.
 
<p>Family to Family: PTA Sponsored. A PTA Community Service event project where Millikin classes adopt a Family and fill and provide the
families “Wish List” items for the needed Families. This is a wonderful opportunity for the students to help out locally for the families in need. This is scheduled during the Thanksgiving and Holiday Season.</p>
 
<p>Field Trip Chaperone: School Sponsored. Attend field trip and be responsible for a small group of children. Priority will be given to the
parents who have volunteered in some other capacity. TB Tests are required. Field Trip Chaperones are chosen by the teacher.</p>
 
<p>Fifth Grade Picnic: School Sponsored-Fifth Grade Only. Help plan, coordinate and attend the picnic party held at the end of the school year at the Cabana Club.</p>
 
<p>Game Night: PTA Sponsored. Fun family recreational events through the school year such as “drive in” Movie Night and Game Night.</p>
 
<p>Harvest Festival: PTA Sponsored, run fundraiser held at school on a Saturday in October in the fall 12-3pm. Each class is responsible to have volunteers run their class booth. Volunteers are needed for set-up, clean up, donate baked goods for the bake sale, run the bake sale, snack bar, and other a booths.</p>
 
<p>Holiday and Valentines Parties: PTA Sponsored. Assist in all planning and attending your child’s class party, which is coordinated with the
other grade level classroom coordinators. All plans need to be approved by your child’s teacher. The PTA supplies a budget for both parties.  Parents are responsible to plan, run, and organize, set up and clean up the parties not the teachers. Training for parties is mandatory for Grades K-1 and new chairperson.  Grade K-1 party volunteers 3 hours/party; Grade 2-5 1 hour)</p>
 
<p>Hospitality: PTA Sponsored. Assist the coordinator in hosting refreshments, set-up and clean up for various school events throughout
the year.</p>
 
<p>Ice Cream Sales: PTA Sponsored. Need reliable volunteers to help sell ice cream after school on Fridays.</p>
 
<p>Memory/Year Book: School Sponsored. Help the coordinator with picture taking and page layouts to publish a school yearbook, and sell
yearbooks at the end of the year.</p>
 
<p>Morning Greeters: School Sponsored-Assist in the drop-off process, opening car doors, letting out students, and closing car doors. Many
volunteers are needed in the morning to assure a smooth drop off process. Volunteers are needed from 8:10 a.m. – 8:30 a.m. every
morning. Please contact Mr. Moss.</p>
 
<p>Movie Night: PTA sponsored-A fun family evening for everyone. Bring your own blanket and watch a family friendly movie at sunset. To
simulate a drive-in movie feeling, students can participate in the “Box-Car” contest. Volunteer opportunities include set-up, clean-up, and snack-bar. This event usually occurs in early October.</p>
 
<p>Pastries for Parents: PTA Sponsored- Assist the coordinator in hosting refreshments, set-up and clean up for the morning social. These are General Association Meetings. Everyone is welcome to come.</p>  
 
<p>Play Day Games: School and PTA Sponsored-Held at the end of the year, help with volunteering in running a Game Booth, over 30+ games, or help with the day’s festivities-setup, selling lunches, clean up.</p>
 
<p>PTA Membership: PTA Sponsored-Help with the PTA membership drive, 1 month long drive to raise awareness of the importance of PTA
and all proceeds go back to the school. Joining PTA will allow membership voting privileges on all PTA General Association Meetings
on approving the financial bills as well events during the school year.  Only Members of the PTA can vote at the GA Meetings. Membership is $9.00 per person and we encourage all adult family members to join the PTA.</p>
 
<p>Reflections: PTA Sponsored-A national PTA children’s art program that needs coordinating, advertising and hosting an evening reception. All grades are eligible to participate, encouraging the arts: photography, drawing, music, literature.</p>
 
<p>Room Parent Coordinator: PTA Sponsored- Coordinate and oversee all classroom Head and CoHead Room parents and liaison to
communicate all PTA and school information.</p>
 
<p>Room Parent and Co-Room Parent: PTA Sponsored-1 Room parent and 1 Co-Room parent per class. Parent volunteers will be responsible to be the liaison between PTA activities at the classroom level, support their teacher as needed, and help build a welcoming atmosphere among their class families. Email all PTA or school communication to all parents to inform them of PTA and school needs. Additionally, the Room parents will be responsible (with guidance from PTA) for creating the class basket to be auctioned during Silent Auction. Room parent and Coroom parent may also be asked to create the class flag for Walkathon.
This is a very important position and needs to be proactive in responding to emails on a regular basis with details to follow up.</p>
 
<p>School Items Coordinator: PTA Sponsored. Coordinate and sell school logo items, promote the awareness of School Spirit throughout the
school, and all proceeds go back to the school. Items include: t-shirts, sweatshirts, folders, pencils, blankets, and more.</p>
 
<p>School Marquis: School Sponsored-Maintain calendar of events on the marquis board in front of the school during the year.</p>
 
<p>Science Lab Scheduler: PTA Sponsored. (K-3 only).  One person from each class (K-3 only) makes a volunteer schedule using forms returned by parents and maintains the list throughout the year. Email reminders are needed throughout the year.</p>
 
<p>Science Lab Volunteers: (K-3 Only) This is a very important job. Help small groups of children in class with the lab work in your child’s class.  Times vary by class and grade. If you are not able to work your scheduled time, please find a substitute to work your shift.</p>
 
<p>Special projects: School or PTA Sponsored. Done at home projects, parents may be asked to help the teacher with preparing class projects.  This may include cutting, pasting, folding, stapling, typing etc. (limited opportunities). Please ask your teacher for opportunities.</p>
 
<p>Talent Show: School Sponsored. Help the coordinator with this student talent show held in the evening. Help advertise, find judges, and purchase prizes for the judges.</p>
 
<p>Teacher Appreciation Luncheons: PTA Sponsored. Combined Grade levels are assigned to provide a Special Luncheon for the teachers to
show our appreciation for all the work they do to teach our students.  Help provide food: Main dish, side dish, appetizers, and dessert; assist with yard duty help, and clean up. If you are not able to help out in your grade level, a donation will be collected to purchase foods.</p>
 
<p>Walk-A-Thon: PTA Sponsored.  One of our largest PTA fund-raising events. Separate announcements are made asking volunteers to help out to run booths: snack bar, water booth, prize booth, set up and clean up, and counting cards.</p>
 
<p>Website Assistance: PTA Sponsored. Help the Website coordinator update current information on the Millikin Website.  Millikin has gone GREEN.  Information is provided in a Millikin Update or in the Millikin E-News or on the Millikin Website. All Parents are encouraged to read all Information sent home on a regular basis and respond back promptly. (ongoing/weekly)</p>

</div>
 





