{% extends 'base.html' %}
{% block content %}
					<!-- This is a carousel provided by bootstrap-->
<div class="container-fluid">					
	<div class="col-xs-12">
		<div class="row">
		  <div class="col-xs-8">

			<div class="jumbotron loginpagejump">
					<h1><strong>Mybit<strong></h1><h3> Easy tool to make school volunteer sign ups manageable <br>
					<p>The goal of Mybit is to give a busy parent the ease to go online to organize his/her schedule and enage more with kids and their schools.</p>
			</div>
		  </div>
		  <div class="col-xs-4">

		  	<br> <br>
				<div class="panel panel-default">
				  	<div class="panel-heading">
				    <h3 class="panel-title">Login </h3>
				  	</div>
				  	<div class="panel-body">

						<form action = "/sign_in" id="login_form" method="POST">
							<div class="form-group">
								<div class="input-group">
									<span class="input-group-addon">
										<span class="glyphicon glyphicon-user"></span>
									</span>
									<input type="text" class="form-control" placeholder="Enter valid email address" name="email">
								</div>
							</div>
								<div class="form-group">
									<div class="input-group">
										<span class="input-group-addon">
											<span class="glyphicon glyphicon-lock"></span>
										</span>
										<input type="password" class="form-control" placeholder="Choose a Password" name="password">
									</div>
								</div>
							<input type="submit" class="btn btn-primary" value="Submit">

						</form>
				 	</div>
				</div>
			</div>

		</div>

	</div>

	<div class="col-xs-12" align="center">
		<br><h1 id="hwowrk" >How Mybit works</H1> <br> <br>
	</div>
				<!--This is a login form with input fields and glyphicon icons provided by bootstrap-->	   
	<div class="col-xs-12" >
					<!-- This is the text on the homepage for how it works-->

	<div class="row">
	  <div class="col-sm-3 col-md-3">
		    <div class="thumbnail">
			    <img src="static/img/Create.png" alt="..." class="img-circle">
			     <div class="caption">
			        <h3><p class="text-center">Create Event</p></h3>
			        <p class="text-center"> A school parent can volunteer as an admin and create, monitor and publish all the upcoming events at a school.</p>
			    </div>
		  	</div>
		</div>
	  <div class="col-sm-3 col-md-3">
	    <div class="thumbnail">
	    <img src="static/img/Register.png" alt="..." class="img-circle">
	     <div class="caption">
	        <h3><p class="text-center">Register for Events</p></h3>
	        <p class="text-center">It allows other parents to sign up for a volunteer activity at school, keep track of their volunteer activity profile.
			</p>
	      </div>
	    </div>
	  </div>

	  <div class="col-sm-3 col-md-3">
	    <div class="thumbnail">
	    <img src="static/img/Reminder.png" alt="..." class="img-circle">
	      <div class="caption">
	        <h3><p class="text-center">Get Reminders for Events</p></h3>
	        <p class="text-center">Organize your engagegment with kids school events with ease by getting regular reminders.</p>
	      </div> 
	    </div>
	  </div>

	  <div class="col-sm-3 col-md-3">
	    <div class="thumbnail">
	    <img src="static/img/sharefeedback.png" alt="..." class="img-circle">
	      <div class="caption">
	        <h3><p class="text-center">Share feedback</p></h3>
	        <p class="text-center"> Share feedback with other parents about an event they volunteered for with a feedback survey.</p>
	      </div> 
	    </div>
	  </div>

	</div>
		
		<!--<h1 id="contact" >How to Reach us</h1> -->



</div>					


{% endblock %}



