<head>  <link rel="stylesheet" href="/static/css/style.css">
</head>

{% extends 'base1.html' %}
{% block content %}

<!--Getting user details from datbase and -->
<div class= "col-xs-6">
 
<div class="panel panel-default">
  <div class="panel-heading">
    <h3 class="panel-title">Profile Details</h3>
  </div>
  <div class="panel-body">

 <ul>
  <li>
      <strong>Email : </strong><a href="mailto:#">{{ user.email_address }}</a><br>
  </li>
 
  <li>
      <strong>Address :</strong> {{ user.user_address}}<br>
   </li>
   <li>   <strong>Phone #: </strong> {{ user.phone_number }}
  </li>
  <li>
      <strong>Need Reminder : </strong> {{ user.reminder }}
  </li>
   <li>
      <strong>Need to complete  : </strong> {{ mandated }} hrs
  </li>
   </ul>         
</div>
</div>
</div>

<div class= "col-xs-4">

  <div class="panel panel-default">
    <div class="panel-heading">
      <h3 class="panel-title">Children Information</h3>
    </div>
      <div class="row">
          {% for item in children %}
          <div class="col-xs-6">
             <div class="thumbnail">
            <h4> {{item.first_name }} {{ item.last_name}}</h4>
            <ul>

            <li>  <strong> Grade : </strong>{{item.grade }} 
            </li>
            <li>  <strong> Joined :</strong> {{item.year_joined }}
            </li>
            <li>  <strong> Status :</strong> {{item.status }}
            </li>
           </ul>
              </div>
          </div>
         {% endfor %}    
      </div>
  </div>
</div>



<!-- Doughnut chart -->


<div class="col-xs-2">
      <!-- Creating a canvas id-->
      <div class="check" id="canvas-holder">
          <canvas id="userdonut" width="110px" height="110px"/ >
      </div>
      <!-- Writing the event name below each doughnut chart -->
      <div style="text-align: center" >
        <h6>{{user.first_name}}{{user.last_name}}</h6>
    </div>   
</div>









<!--<div class = "col-xs-2">   
  <div class="panel panel-primary">
    <div class="panel-heading">Progress</div>
    <div class="panel-body">
      <div class="progress">

        <div class="progress-bar" role="progressbar" aria-valuenow="60" aria-valuemin="0" valuemax="100"> {{percentcomplete}}% </div>
      </div>
    </div>
  </div>
</div>--> 

<!--Creating a upcoming events table-->
<div class="col-xs-12" id="EventDataTable">
  <div class="Title">
    <h3>Upcoming Events</h3>
  </div>
  <table class="table table-hover">
      <thead>
          <!-- Hiding the eventid from the table--> 
          <th style="display: none" >Event Id</th>
          <th >Event Name</th>
          <th >Event Description</th>
          <th >Event Date</th>
          <th >Event Status</th>
          <th>Available spots</th>
          <th>Registration Status</th>
          <th>Action </th>
      </thead>
    <!--looping in signup object to show the values from the datbase on the welcome.html-->  
    {% for item in sign_up %}
      <tr>
          <td style="display: none" id="eventid">{{ item.event_id }}</td>
          <td id="eventname">{{ item.event_name }}</td>
          <td id="eventdesc">{{item.event_description}}</td>
          <td id="eventdate">{{ item.event_date }}</td>
          <td id="eventstatus">{{ item.event_status }}</td>
          <td id="noofspots">{{ item.no_of_remaining_spots }}</td>
          {% if ( not item.status and item.no_of_remaining_spots == 0) %}
          <td id="regstatus" >Not Registered</td>
            <td> <button class="btn" id="waitlist">Waitlist <span class="badge">{{ item.no_of_waitlist_spots }}</span> </button></td>
          {% elif ( not item.status and item.no_of_remaining_spots != 0 ) %}
          <td id="regstatus" >Not Registered</td>
            <td> <button class="btn" id="sign_up">Sign up</button></td>         
          {% elif item.status == "Cancelled" %}
           <td id="regstatus">{{ item.status }}</td>
            <td><button class="btn" id="cancel" disabled> Cancel </button></td>
          {% else %}
            <td id="regstatus">{{ item.status }}</td>
            <td><button class="btn" id="cancel"> Cancel </button></td>
          {% endif %}
      </tr>
    {% endfor %}    
</div>

<div class="col-xs-12" id="PastEventDataTable">

  <table class="table table-hover">
        <div class="col-xs-12" class="Title">
        <h3>Past Events</h3>
  </div>
      <thead> 
          <th style="display: none">Event Id</th>
          <th>Event Name</th>
          <th>Event Description</th>
          <th>Event Date</th>
          <th>Event Status</th>
          <th>Attended</th>          
      </thead>
    {% for item in past_sign_up %}
      <tr>
          <td style="display: none" id="eventid">{{ item.event_id }}</td>
          <td id="eventname">{{ item.event_name }}</td>
          <td id="eventdesc">{{item.event_description}}</td>
          <td id="eventdate">{{ item.event_date }}</td>
          <td id="regstatus">{{ item.event_status }}</td>
          <td id="showup">{{ item.showup }}</td>
      </tr>
    {% endfor %}    
</div>

<script src="static/jquery.js"></script>

  <script type="text/javascript">
// Passing values to the doughnut chart on welocome for a user 
//with completed,mandated hours,progress bar
  var userdata = [
        {
          value: {{completed}},
          color: "#46BFBD",
          highlight: "#5AD3D1",
          label: "Completed"
        },
        {
          value: {{remaining_hours}},
          color: "#949FB1",
          highlight: "#A8B3C5",
          label: "Remaining"
        }
      ];
 
 window.onload = function(){

//printing a doughnut chart taking each tuple in the sign_up object      
        var ctx = document.getElementById("userdonut").getContext("2d");
        window.myDoughnut = new Chart(ctx).Doughnut(userdata, {responsive : true}); 
      };

//   $(document).ready(function(){ 
      
//       // alert({{percentcomplete}})

//       $('.progress-bar').css('width', {{percentcomplete}}+'%').attr('aria-valuenow', {{percentcomplete}});
      
//       if ({{percentcomplete}} <= 10) {x="progress-bar progress-bar-danger"}
//       else if({{percentcomplete}} >10 && {{percentcomplete}} <30) {x="progress-bar progress-bar-warning"} 
//       else if({{percentcomplete}} >30 && {{percentcomplete}} <60) {x="progress-bar progress-bar-info"} 
//       else if({{percentcomplete}} >60) {x= "progress-bar progress-bar-success"}
//       else{x="progress-bar"}  
//         // Make some jQuery call.

//        $('.progress-bar').attr('class', x ); 
// });
    // This is a function to change the status of the Sign up button
    $('#EventDataTable').on('click', '.btn', function()
        {

        // alert('Hello')
      
        eveid=$(this).parent().siblings('#eventid').text();
        console.log(eveid)
        var row = $(this).closest('tr'),
        eveid = $(row).find('#eventid').text();
        evename = $(row).find('#eventname').text();


        //eveid = eveidObj.innerHTML;
        //evename = $(this).find('#eventname').text();
        userid = "{{ user.user_id }}"
        
        if ($(this).attr('id')=="sign_up"){
          op = "register"}
        else if($(this).attr('id')=="waitlist"){
          op = "waitlist"}
        else if($(this).attr('id')=="cancel"){
          op = "cancel"}

        // alert (op)
        // Upadting the database with the parent_id and event_id that the user has registered for via AJAX
        $.post('/event_signup_confirmed', { userid: userid, eventid: eveid, opcode:op }, function (results) {
          //var adjective = results;

          // alert ( "printing status")
          //$("#eventstatus).text()

          console.log($(row) )
          //

          // alert(results.json_list.no_of_waitlisted )

          //everegstatus=$(row).find('#regstatus');
          //alert ( "printing event id")
          //alert ($(everegstatus).text())

          //console.log($(this).closest('tr').find('#regstatus').text());

          $(row).find('#regstatus').text(results.json_list.status);
          $(row).find('#noofspots').text(results.json_list.no_of_remaining_spots);

          })

          //alert(username +' has successfully registered for event with id '+ eveid + ' : '+evename)
      $(this).text( "Cancel")
      $(this).prop('disabled', true);

});

    $('#btn btn-primary').on('click', '.btn', function()
        {

          // alert('Hello')
});


$('#feedback').on('click', { data : "test" } , function()
  { 
  // alert('Hello feedback')
  $.get('/survey_feedback', function (results) {
          // alert ( results)
        }); 

});

</script>

{% endblock %}